/*

	Template Author : pixelhint.com
	Author Email    : contact@pixelhint.com
	
	
	*****************************************
	
	
	- Header
	- Billboard
	- Services
	- Call To Action
	- Testimonials
	- Footer
	
*/




/*  Fonts  */
@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Regular.woff') format('woff'),
         url('../fonts/Lato-Regular.ttf') format('truetype'),
         url('../fonts/Lato-Regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Bold.woff') format('woff'),
         url('../fonts/Lato-Bold.ttf') format('truetype'),
         url('../fonts/Lato-Bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HoneyLight';
    src: url('../fonts/honeyscript-light-webfont.eot');
    src: url('../fonts/honeyscript-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/honeyscript-light-webfont.woff') format('woff'),
         url('../fonts/honeyscript-light-webfont.ttf') format('truetype'),
         url('../fonts/honeyscript-light-webfont.svg#honey_scriptlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




/*  Header  */
header{
	width: 100%;
	height: 100px;
	/*background: #f4c995;*/
	background-color: rgba(255, 255, 255, .1);
	position: fixed;
	z-index: 9999;
}

header .h_logo{
	float: left;
	margin-top: 5px;
	width: 100px;
	height: 90px;
}

header nav{
	float: right;
	margin-top: 32px;
	overflow: hidden;
	font-size: 22px;
	color: white;
}
header nav ul li{
	float: left;
	margin-left: 30px;
}

header nav ul li a{
	text-decoration: none;
	font-family: 'LatoBold', arial;
	font-weight: bold;
	font-size: 16px;
	color: #fef8f1;
	letter-spacing: 1px;
}

header nav ul li a:hover{
	color: #ffffff;
}

#mainNav .navbar-nav .navbar_home .nav-link {
	font-size: 90%;
	font-weight: 400;
	padding: 0.75em 0;
	letter-spacing: 1px;
	color: #000000;
	font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

/*  Billboard  */
.billboard{
	width: 100%;
	height: 600px;
	background: #ffffff url('../img/billboard_bg.jpg') no-repeat fixed;
}


.caption{
	width: 100%;
	text-align: center;
	position: absolute;
	top: 180px;
}

.caption .cap_datang{
	font-family: 'LatoBold', arial;
	font-weight: Bold;
	font-size: 20px;
	color: #ffffff;
	letter-spacing: 1.5px;
}

.caption .cap_title{
	font-family: 'LatoBold', arial;
	font-weight: Bold;
	font-size: 40px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.caption .cap_desc{
	font-family: 'HoneyLight';
	font-size: 50px;
	color: #ffffff;
	margin-top: 10px;
}

.main{
	height: 50000px;
}

tr{
	width: 100%;
}

/*  Footer  */
footer{
	width: 100%;
	padding: 30px 0;
	background-color: #393939;
	text-align: center;
}


footer .rights{
	color: #a5a5a5;
	font-family: "LatoRegular", arial;
	font-size: 21px;
	letter-spacing: .5px;
}


footer nav ul li a:hover,
footer .rights a:hover{
	color: #ffffff;
}

input{
	margin-bottom: 100px;
}


/*  General CSS*/
.wrapper{
	width: 1060px;
	height: auto;
	margin: 0 auto;
}


footer nav ul li a,
footer .rights a,
header nav ul li a,
.call_to_action a.cta_btn,
.testimonials a.author,
.newsletter .submit_nl{
	transition: .2s linear;
	-webkit-transition: .2s linear;
	-moz-transition: .2s linear;
	-o-transition: .2s linear;
}x